
<% include partials/header %>

<!-- Registration form -->
    <div class="container">
        <div class="row">
            <div style="width: 80%; margin: 100px auto;">
                <h1 style="text-align: center;">Sign Up</h1>
                <form action="/register" method="POST">
                  <div class="form-group">
                    <label for="loginform">Username</label>
                    <input class="form-control" type="text" name="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="loginform1">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                  </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="/">Go Back</a></button>
                </form>
            </div>
        </div>
    </div>
<% include partials/footer %>